<div class="row">
  <div class="col col-sm-12 col-md-12">
    <p><strong><%= message.user.full_name %></strong>
    <small>  <%= message.message_time %></small></p>
    <p><%= message.content %></p>
  </div>
</div>
<p class="horizontal_line"></p>